html {
    box-sizing: border-box;
    background-color: whitesmoke;
}

*, *:before, *:after {
    box-sizing: inherit;
    font-size: 18px;
}

.main {
    font-size: 48px;
    color:darkred;
}

.bullet {
    font-size: 18px;
    color: #333333;
}

.main * {
    font-size: 24px;
    color: #333333;
    text-decoration: none;
}

.text {
    color: darkred;
    font-family: 'Courier New', Courier, monospace;
}

.text.title {
    font-size: 36px;
    color: #555555;
    font-family: helvetica, Arial, sans-serif;
}

.text.header {
    font-size: 28px;
    color:darkblue;
    font-family: helvetica, Arial, sans-serif;
}

.container {
    background-color:bisque;

}

.container.outer {
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
}

.container.inner {
    padding: 5px;
    background-color: bisque;
}

.container.list {
    padding: 5px;
    background-color: #fff;
}

h1 {
    background-color: #fff;
    margin: 0 auto;
    padding: 10px;
}

li {
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 5px;
}

